Package: com.ethanrdoesmc.dawn
Name: Dawn
Version: 1.0.0
Architecture: iphoneos-arm
Description: Customize dark and light mode. Dark elements in light mode and vice versa.
Maintainer: EthanRDoesMC
Author: EthanRDoesMC
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>= 13.0)
Section: Tweaks
