<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>condensed</key>
			<false/>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>icon</key>
			<string>icon@3x.png</string>
			<key>packageIdentifier</key>
			<string>com.ethanrdoesmc.dawn</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BANNERS_NOTIFICATIONS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DawnSegmentTableCell</string>
			<key>PostNotification</key>
			<string>com.ethanrdoesmc.dawn/settingsChanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ethanrdoesmc.dawn</string>
			<key>key</key>
			<string>banners</string>
			<key>label</key>
			<string>D/L/D</string>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>LIGHT</string>
				<string>DARK</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DOCK</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DawnSegmentTableCell</string>
			<key>PostNotification</key>
			<string>com.ethanrdoesmc.dawn/settingsChanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ethanrdoesmc.dawn</string>
			<key>key</key>
			<string>dock</string>
			<key>label</key>
			<string>D/L/D</string>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>LIGHT</string>
				<string>DARK</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WIDGETS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DawnSegmentTableCell</string>
			<key>PostNotification</key>
			<string>com.ethanrdoesmc.dawn/settingsChanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ethanrdoesmc.dawn</string>
			<key>key</key>
			<string>widgets</string>
			<key>label</key>
			<string>D/L/D</string>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>LIGHT</string>
				<string>DARK</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NC_BUTTONS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DawnSegmentTableCell</string>
			<key>PostNotification</key>
			<string>com.ethanrdoesmc.dawn/settingsChanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ethanrdoesmc.dawn</string>
			<key>key</key>
			<string>nctoggles</string>
			<key>label</key>
			<string>D/L/D</string>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>LIGHT</string>
				<string>DARK</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FOLDERS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DawnSegmentTableCell</string>
			<key>PostNotification</key>
			<string>com.ethanrdoesmc.dawn/settingsChanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ethanrdoesmc.dawn</string>
			<key>key</key>
			<string>folders</string>
			<key>label</key>
			<string>D/L/D</string>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>LIGHT</string>
				<string>DARK</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>KEYBOARD</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DawnSegmentTableCell</string>
			<key>PostNotification</key>
			<string>com.ethanrdoesmc.dawn/settingsChanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ethanrdoesmc.dawn</string>
			<key>key</key>
			<string>keyboard</string>
			<key>label</key>
			<string>D/L/D</string>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>LIGHT</string>
				<string>DARK</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LS_MEDIA_PLAYER</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DawnSegmentTableCell</string>
			<key>PostNotification</key>
			<string>com.ethanrdoesmc.dawn/settingsChanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ethanrdoesmc.dawn</string>
			<key>key</key>
			<string>player</string>
			<key>label</key>
			<string>D/L/D</string>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>LIGHT</string>
				<string>DARK</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HS_QUICK_ACTIONS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DawnSegmentTableCell</string>
			<key>PostNotification</key>
			<string>com.ethanrdoesmc.dawn/settingsChanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ethanrdoesmc.dawn</string>
			<key>key</key>
			<string>hsquickactions</string>
			<key>label</key>
			<string>D/L/D</string>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>LIGHT</string>
				<string>DARK</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPLICATIONS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DawnSegmentTableCell</string>
			<key>PostNotification</key>
			<string>com.ethanrdoesmc.dawn/settingsChanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ethanrdoesmc.dawn</string>
			<key>key</key>
			<string>apps</string>
			<key>label</key>
			<string>D/L/D</string>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>LIGHT</string>
				<string>DARK</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT_LABEL</string>
			<key>footerText</key>
			<string>ABOUT_FOOTER</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>ETHAN_WEBSITE</string>
			<key>url</key>
			<string>http://ethanrdoesmc.com/</string>
			<key>subtitle</key>
			<string>http://ethanrdoesmc.com/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>ETHANRDOESMC_TWITTER</string>
			<key>user</key>
			<string>EthanRDoesMC_</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>DONATE_PAYPAL</string>
			<key>url</key>
			<string>https://paypal.me/ethanrdoesmc</string>
			<key>subtitle</key>
			<string>DONATE_NOTE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CREATED_BY_ETHANRDOESMC</string>
			<key>footerText</key>
			<string>CREDIT_YOUR_TRANSLATION_TYSM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>LOCALIZATION_CREDITS</string>
			<key>isController</key>
			<true/>
			<key>detail</key>
			<string>DawnTranslationListController</string>
			<key>cell</key>
			<string>PSLinkCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>IMAGE_COPYRIGHT</string>
		</dict>
	</array>
	<key>title</key>
	<string>DAWN_TITLE</string>
</dict>
</plist>
