<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>localeID</key>
			<string>ar</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>@iA7myd</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>cs</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>@mboipat</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>da</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>u/Xen0pi</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>de</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>eins_hund</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>en</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>EthanRDoesMC</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>es-MX</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>u/angelcuevas11</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>fr</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>@TinQ00</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>he</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>u/gilshahar7</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>hu</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>@TussingerA</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>it</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>u/Sheik92</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>ja</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>u/Rinta0622</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>ko</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>u/HotoCocoaDesu</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>nl</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>@HesselsAndre</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>pl</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>u/DmXxor</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>pt-BR</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>u/LucasPedrosa</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>ru</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>@gkeep_</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>tr</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>u/bhadrbbr</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>zh-Hans</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>u/volcano95</string>
		</dict>
		<dict>
			<key>localeID</key>
			<string>zh-Hant</string>
			<key>get</key>
			<string>locale:</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>u/volcano95</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Localization Kit</string>
			<key>subtitle</key>
			<string>Localize Dawn in your language</string>
			<key>url</key>
			<string>https://github.com/EthanRDoesMC/Dawn/blob/master/Dawn%20Localization%20Kit.zip?raw=true</string>
		</dict>
	</array>
	<key>title</key>
	<string>LOCALIZATION_CREDITS</string>
</dict>
</plist>
